<form #myForm="ngForm" (ngSubmit)="signIn(myForm.value)">
    <div class="invalid-login" *ngIf="invalidLogin">
        <p>Invalid Username or password</p>
    </div>
    <label for="yName">Username</label>
    <input 
        type="text" 
        name="name" 
        id="yName" 
        class="form-control" 
        minlength="3" 
        maxlength="10" 
        pattern="Maruf" 
        required 
        ngModel 
        #yName="ngModel" 
        
    >
    <br/>
    <div class="alert alert-danger" *ngIf="yName.touched && !yName.valid">
        <div *ngIf="yName.errors.required"> Name is Required</div>
        <div *ngIf="yName.errors.minlength"> Name willbe min. {{yName.errors.minlength.requiredLength}}</div>
        <div *ngIf="yName.errors.maxlength"> Name willbe max. {{yName.errors.maxlength.requiredLength}}</div>
        <div *ngIf="yName.errors.pattern"> Pattern not matched</div>
    </div>
    <br/>
    <label for="passWord">Password</label>
    <input 
        type="password" 
        required 
        minlength="6" 
        maxlength="30" 
        name="passWord" 
        id="passWord" 
        ngModel 
        class="form-control"
        
        #passWord="ngModel"
        >
        <br/>
    <div class="alert alert-danger" *ngIf="passWord.touched && !passWord.valid">
        <div *ngIf="passWord.errors.required"> Password is Required</div>
        <div *ngIf="passWord.errors.minlength"> Password will be min. {{yName.errors.minlength.requiredLength}}</div>
        <div *ngIf="passWord.errors.maxlength"> Password will be max. {{yName.errors.maxlength.requiredLength}}</div>
        <div *ngIf="passWord.errors.pattern"> Pattern not matched</div>
    </div>
    <button class="submit" type="submit" [disabled]="!myForm.valid">submit</button>
</form>
