<h1 class="text-center">Angular Auth And Login</h1>
<ul class="list-inline text-center">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="logout" routerLinkActive="active">Logout</a></li>
</ul>

<router-outlet></router-outlet>